body {
 font-family:  verdana, Geneva, sans-serif;
 background: #1a2773;
 color:#57c855;
 display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    flex-direction: column;

}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player {
    background: #0a495d;
    padding: 35px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    margin: 30px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 7px;
    border: solid;
    border-radius: 15px;
    cursor: pointer
}

button:hover {
    background: #a30498ac;
    color: rgb(210, 213, 118);
}

input[type="range"] {
    accent-color: rgb(78, 120, 13);
}

#playPause {
    background: #61c034;
    color: #6a55c8;
}

#playPause:hover {
    background: #a30498ac;
    color: rgb(210, 213, 118);
}

#stop {
    background: #630305;
    color: white;
}

#stop:hover {
    background: #a30498ac;
    color: rgb(210, 213, 118);
}

#prev {
    background: #6a55c8;
    color: #57c855;
}

#prev:hover {
    background: #57c855;
    color:#6a55c8;
}

#next {
    background: #6a55c8;
    color: #57c855;
}

#next:hover {
    background: #57c855;
    color: #6a55c8;
}

.progress-container {
    width: 100%;        /* Full width of the player */
    height: 10px;   /* Height of the progress bar */    
    background: #7d98a9;        /* Background color of the progress bar container */
    border-radius: 5px;     /* Rounded corners */
    margin: 25px auto;   /* Center the progress bar and add some margin */
    cursor: pointer;   /* Change cursor to pointer on hover */
}

.progress {
    height: 100%;     /* Full height of the container */
    width: 0%;        /* Initial width (0% means no progress) */
    background: #b6ff88eb;     /* Color of the progress bar */
    border-radius: 15px;     /* Rounded corners */

    transition: width 0.1s linear; /* Smooth transition for width changes */
}

.playlist {
    margin-top: 35px;
    text-align: center;
}

.playlist ul {
    list-style: none;
    padding: 4px;

}

.playlist li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #7f6855
}

.playlist li:hover {
    background-color: #eee;
}

.active-track {
    background-color: #db5d5d;

}

#nowPlaying {
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    opacity: 0.9;
}

.repo-footer {
    margin-top: 65px;
    font-size: 10px;
    opacity: 0.8;
    text-align: center;

}

.repo-footer a {
    color: inherit ;
    text-decoration: none;
}
.repo-footer a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 45px auto;
    width: 150px;
    opacity: 0.1;
      
}

.logo:hover {
   transform: rotate(755deg);
    transition: transform 0.9s ease;
}