body {
 font-family:  verdana, Geneva, sans-serif;
 background: #3345ad;
 color:#57c855;
 display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    flex-direction: column;

}

.player {
    background: #0a495d;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer
}

button:hover {
    background: #a30498ac;
    color: rgb(210, 213, 118);
}

#playPause {
    background: #61c034;
    color: #6a55c8;
}

#playPause:hover {
    background: #a30498ac;
    color: rgb(210, 213, 118);
}

#stop {
    background: #630305;
    color: white;
}

#stop:hover {
    background: #a30498ac;
    color: rgb(210, 213, 118);
}

.progress-container {
    width: 100%;        /* Full width of the player */
    height: 10px;   /* Height of the progress bar */    
    background: #2c6c94;        /* Background color of the progress bar container */
    border-radius: 5px;     /* Rounded corners */
    margin: 15px auto;   /* Center the progress bar and add some margin */
    cursor: pointer;   /* Change cursor to pointer on hover */
}

.progress {
    height: 100%;     /* Full height of the container */
    width: 0%;        /* Initial width (0% means no progress) */
    background: #57c855;     /* Color of the progress bar */
    border-radius: 5px;     /* Rounded corners */

    transition: width 0.1s linear; /* Smooth transition for width changes */
}

.playlist {
    margin-top: 20px;
    width: 300px;
    text-align: left;
}

.playlist ul {
    list-style: none;
    padding: 2px;

}

.playlist li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #7f6855
}

.playlist li:hover {
    background-color: #eee;
}

.active-track {
    background-color: #ccc;

}

.repo-footer {
    margin-top: 45px;
    font-size: 10px;
    opacity: 0.8;
    text-align: center;

}

.repo-footer a {
    color: inherit ;
    text-decoration: none;
}
.repo-footer a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 45px auto;
    width: 150px;
    opacity: 0.1;
      
}

.logo:hover {
   transform: rotate(755deg);
    transition: transform 0.9s ease;
}